.caixa{
    background-color: #FECF4E;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    padding: 0 20px 10px;
    box-sizing: border-box;
}

.caixaTitulo{
    height: 8%;
}

.titulo{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
}

.listaCursos{
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.listaCursos::-webkit-scrollbar {
    width: 8px;
  }
  
.listaCursos::-webkit-scrollbar-track {
    display: none;
}
  
.listaCursos::-webkit-scrollbar-thumb {
    background-color: #DBA521;
    border-radius: 50px; 
}

@media (max-width: 770px){

    .caixa{
      margin: 20px 0;
    }

  }


@media(max-width:500px){
    .titulo{
        font-size: 1.5rem;
    }
}


