.body{
  background-color: #F2B630;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.divImagem{
  width: 50%;
}

.img{
  width: 100%;
}

.acessar{
  background-color: #F2C752;
  border-radius: 30px;
  padding: 10px 30px;
  width: 30%;
  height: 70%;
  display: flex;
}

.titulo{
  color: #815600;
  margin: 0;
  text-decoration: underline;
  text-align: center;
}

.acessar form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.acessar form div{
  width: 100%;
} 

.label{
  display: block;
  color: #815600;
  font-size: 18px;
  padding: 2px;
}

.input{
  background-color: #DBA521;
  border: none;
  color: white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px 10px 10px;
}

.input::placeholder {
  color: white;
}

.submit{
  background-color: #B58000;
  border-radius: 20px;
  padding: 8px 20px;
}

.esqueceu{
  text-decoration: underline;
}

.cadastrar{
  background-color: #C98908;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
}


@media (max-width:700px){
  .acessar{
    width: 80%;
  }
}

@media (max-width:600px){
  .acessar{
    width: 80%;
    height: 60%;
  }

  .divImagem{
    width: 80%;
  }
}