.body{
  height: 100vh;
  background-color: #F2B630;
}

.row{
  height: 100%;
}

.divForm{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagem{
  text-align: center;
  display: flex;
  align-items: center;
}

.img{
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

.acessar{
  background-color: #F2C752;
  height: 400px;
  width: 90%;
  border-radius: 30px;
  padding: 10px 30px;
  box-sizing: border-box;
}

.secaoTitulo{
  margin: 5px;
  text-align: center;
}

.secaoInput{
  margin: 10px;
}

.secaoBotao{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
  display: block;
  color: #815600;
  font-size: 18px;
  padding: 2px;
}

.input{
  background-color: #DBA521;
  border: none;
  color: white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px 10px 10px;
}

.input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.submit{
  background-color: #B58000;
  border-radius: 20px;
  padding: 8px 20px;
}

.esqueceu{
  text-decoration: underline;
  margin: 10px 0;
}

.cadastrar{
  background-color: #C98908;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  display: flex;
  margin: 20px auto;
}

.titulo{
  color: #815600;
  margin: 0;
  text-decoration: underline;
}